@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
  
.column {
    float: left;
    width: 20%;
    height: 33.3%;
    
    margin-bottom: 16px;
    padding: 0 8px;
    overflow: auto;
}
  
.card {
    box-shadow: 0 4px 4px 0 #A467F2;
    margin: 6px;
    float: center;
    height: 550px;
    width: auto;
    size: 20px;
    height: auto;
    
}

.card:hover {
    background: #A467F2;
    /* box-shadow: 0 4px 4px 0 #A467F2; */
}

.about-section {
    padding: 50px;
    text-align: center;
    background: #8C33FF;
    background-image: linear-gradient(270deg,#8C33FF, #A467F2, indigo);
    color: white;
    font-size: 75px;
    font-family: 'Bebas Neue', cursive;
}

.what-PL{
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}
.row {
    align-items: center;
    align-content: center;
    background-image: linear-gradient(270deg,#9a4dff, #A467F2, #b780ff);
    padding: 20px;
}
.WhatisPL{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.TeamTag{
    text-align: center;
    padding-top: 1px;
    padding-bottom: 30px;
    font-size: 60px;
}

.container {
    padding: 0 16px;
    float: center;
}
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.name{
    color: black;
    padding-top: 15px;
    padding-bottom: 1px;
}
.title {
    color:black;
    /* font-size: 3vmin; */
    padding-top: 1px;
    font-size: medium;
    text-align: left;
}
.intro {
    text-align: justify;
    font-size:2.5vmin; 
    /* padding-left: 200px; */
    /* padding-right: 200px; */
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}
.para{
    color: black;
    /* font-size: 25px;  */
    font-family: 'Roboto', sans-serif;
    padding-top: 1px;
}

.email{
    color: black;
    padding-top: 0.5px;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    /* background-color: #000; */
    background: #8C33FF;
    text-align: center;
    cursor: pointer;
    width: 80%;
}
  

@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}

img{
    border-radius: 1px;
}
span {
    margin-left: 1em;
}