.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.grid > div { 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
}

.cent {
    text-align: center;
}

.rounded2 {
      border-radius: 30px;
      width: 250px;
}