.myFeed{
    width: 100%;
    height: 100em;
    background-color: seashell;
    overflow-y: scroll;

}

.myPost{
    width:100%;

}

.rImage{
    width:10em;
    height:10em;
    
    
}

/* .postName{
   display:inline-block
} */
.myPost >*{
    display:inline-block;
}