.grid2x2 {
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-around;
}

.grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: row;
    padding: 5px;

}

.textUnder {
    text-align: center;
}

.rounded {
    border-radius: 30px;
}

