@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

.footerText{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
}

.footer{

    height: 80px;

}